* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
body a {
  color: #000;
}
body header {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 5;
}
body header .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
body header .header h1 a {
  display: block;
}
body header .header h1 a img {
  width: 120px;
}
body .menu {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
  font-size: 0.75em;
  border-radius: 20px 20px 0 0;
}
body .menu a {
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
body .menu a img {
  width: 25px;
}
body #menu_modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none;
}
body #hammenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
}
body #hammenu header {
  position: relative;
  top: 0;
  width: 100%;
}
body #hammenu header .head {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #365988;
}
body #hammenu header .head .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #hammenu header .head .icon .logo {
  width: 118px;
}
body #hammenu header .head .icon .close {
  width: 20px;
  margin-right: 15px;
}
body #hammenu #mypage {
  position: relative;
  top: -60px;
  z-index: 5;
  width: 280px;
  left: 50%;
  transform: translateX(-50%);
  height: 125px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
}
body #hammenu #mypage .user {
  color: #000;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}
body #hammenu #mypage .user span {
  color: #000;
}
body #hammenu #mypage .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}
body #hammenu #mypage .info a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #959595;
  font-size: 0.8em;
}
body #hammenu #mypage .info a img {
  width: 13px;
}
body #hammenu .menubox {
  margin: 0 0 30px;
  position: relative;
  top: -20px;
}
body #hammenu .menubox ul {
  width: 100%;
  justify-content: center;
  gap: 15px;
}
body #hammenu .menubox ul li {
  width: 40%;
}
body #hammenu .bottom_menu {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding-top: 20px;
}
body #hammenu .bottom_menu ul {
  width: 80%;
  margin: 0 auto;
}
body #hammenu .bottom_menu ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
body #hammenu .bottom_menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 1.1em;
}
body #font_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: #fff;
  display: none;
}
body #font_modal .modal_box {
  position: fixed;
  top: 120px;
  width: 100%;
}
body #font_modal .modal_box .title {
  margin-bottom: 60px;
}
body #font_modal .modal_box .title h1 {
  font-size: 45px;
}
body #font_modal .modal_box .title p {
  font-size: 18px;
}
body #font_modal .modal_box .select p {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
}
body #font_modal .modal_box .select p button {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  background-color: #FFC909;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
body #font_modal .modal_box .select p button#nomal {
  font-size: 18px;
}
body #font_modal .modal_box .select p span {
  text-align: left;
}
body #font_modal .modal_box .select p:first-child {
  margin-bottom: 30px;
}
body #main_poster {
  position: relative;
  width: 100%;
}
body #main_poster .slick-list {
  top: 60px;
}
body #main_poster .slick-list .slick-track {
  height: 400px;
}
body #main_poster .slick-list .slick-track .slick-slide {
  width: 280px;
  height: 370px;
  transform: scale(0.85);
  opacity: 0.8;
  transition: all 1s;
}
body #main_poster .slick-list .slick-track .slick-slide.slick-active {
  transform: scale(1);
  opacity: 1;
}
body #main_poster .slick-list .slick-track .slick-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
body #main_poster .slick-list .slick-track .slick-slide a img {
  border-radius: 130px 130px 0 0;
  width: 100%;
  height: 100%;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.3);
}
body #main_poster .slick-dots {
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 3px;
  width: 230px;
  z-index: 9;
  border-radius: 10px;
  background-color: #ADADAD;
}
body #main_poster .slick-dots li {
  height: 100%;
  width: 38.3333333333px;
  float: left;
}
body #main_poster .slick-dots li button {
  display: block;
  border: none;
  background-color: transparent;
  font-size: 0;
}
body #main_poster .slick-dots li.slick-active {
  background-color: #333;
  border-radius: 10px;
}
body #main_poster .number {
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #main_poster .number span {
  display: block;
  font-size: 1.1em;
  font-family: "Roboto";
  color: #333;
  font-weight: bold;
}
body #main_poster .number span.total {
  color: #6C6C6C;
}
body #main_poster .background {
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #DCE4C4;
  transition: all 0.5s;
}
body #search {
  width: 340px;
  height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin: 30% auto 30px;
}
body #search form {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #search form input {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  outline: none;
  font-size: 1em;
}
body #search form input::-moz-placeholder {
  font-weight: bold;
  font-size: inherit;
  color: #acacac;
}
body #search form input:-ms-input-placeholder {
  font-weight: bold;
  font-size: inherit;
  color: #acacac;
}
body #search form input::placeholder {
  font-weight: bold;
  font-size: inherit;
  color: #acacac;
}
body #search form button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
}
body #search form button img {
  width: 20px;
}
body .menubox {
  width: 100%;
  margin: 30px 0;
}
body .menubox ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
body .menubox ul li {
  width: 45%;
  height: 70px;
  border: 1px solid #000;
  border-radius: 5px;
}
body .menubox ul li a {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #000;
  font-size: 0.85em;
}
body .menubox ul li a img {
  width: 20px;
}
body .menubox ul li a img.size {
  width: 25px;
}
body #guide {
  width: 90%;
  margin: 100px auto 0;
}
body #guide h2 {
  font-size: 1.25em;
}
body #guide h2 img {
  width: 8px;
  margin-left: 10px;
}
body #guide .guide_slick {
  margin: 30px 0;
}
body #guide .guide_slick li {
  width: 130px;
  height: 160px;
  border: 1px solid #ADADAD;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #fff;
}
body #guide .guide_slick li:hover {
  background-color: #ADADAD;
}
body #guide .guide_slick li a {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
body #guide .guide_slick li a img {
  width: 40px;
}
body .pointbanner {
  width: 100%;
  margin-top: 60px;
}
body .pointbanner .banner {
  width: 100%;
}
body .tab_slide {
  width: 100%;
  margin: 60px 0;
}
body .tab_slide h2 {
  margin-left: 5%;
  font-size: 1.25em;
}
body .tab_slide h2 img {
  width: 8px;
  margin-left: 10px;
}
body .tab_slide .tab {
  margin: 30px 0;
}
body .tab_slide .tab .slick-list {
  padding-left: 5%;
}
body .tab_slide .tab .slick-list li {
  margin: 0 5px;
  width: auto;
  display: inline-block;
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  transition: all 0.3s;
  font-size: 0.85em;
}
body .tab_slide .tab .slick-list li.on {
  background-color: #000;
  border: none;
}
body .tab_slide .tab .slick-list li.on a {
  color: #fff;
  font-weight: normal;
}
body .tab_slide .tab .slick-list li a {
  line-height: 35px;
  display: block;
  margin: 0 20px;
  color: #707070;
  font-weight: bold;
}
body .tab_slide#monthly .contents .box {
  width: 100%;
  padding-left: 20px;
}
body .tab_slide#monthly .contents .box ul {
  height: 250px;
}
body .tab_slide#monthly .contents .box ul .slick-list {
  height: 280px;
}
body .tab_slide#monthly .contents .box ul .slick-list li {
  width: 160px;
  height: 220px;
  position: relative;
  margin-right: 10px;
}
body .tab_slide#monthly .contents .box ul .slick-list li .poster {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body .tab_slide#monthly .contents .box ul .slick-list li .content_box {
  position: absolute;
  bottom: -45px;
  padding-left: 5px;
}
body .tab_slide#monthly .contents .box ul .slick-list li .content_box h4 {
  font-size: 0.85em;
  font-weight: normal;
  color: #101010;
}
body .tab_slide#monthly .contents .box ul .slick-list li .content_box p {
  font-size: 0.7em;
  color: #747474;
}
body .tab_slide#local .box {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
body .tab_slide#local .box .rank {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 9;
}
body .tab_slide#local .box .rank img {
  width: 45px;
  position: absolute;
}
body .tab_slide#local .box .rank span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 2em;
  position: absolute;
  z-index: 9;
}
body .tab_slide#local .box li {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 5%;
  position: relative;
}
body .tab_slide#local .box li h4 {
  font-size: 1em;
  font-weight: normal;
  color: #101010;
}
body .tab_slide#local .box li p {
  font-size: 0.8em;
  color: #747474;
}
body .tab_slide#local .box li .poster {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
body .tab_slide#local .box li:nth-child(1) {
  border-radius: 10px;
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
}
body .tab_slide#local .box li:nth-child(1) .poster {
  width: 100%;
  height: 100%;
}
body .tab_slide#local .box li:nth-child(1) .content_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  filter: blur(10px);
}
body .tab_slide#local .box li:nth-child(1) .title {
  position: absolute;
  bottom: 0;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
body .tab_slide#local .box li:nth-child(1) .title h4 {
  font-size: 1.25em;
  color: #fff;
}
body #footer {
  width: 100%;
  height: 150px;
  margin: 60px 0 60px;
  font-size: 0.65em;
  text-align: center;
  background-color: #eee;
  padding-top: 20px;
}
body #footer p a {
  color: #000;
  font-weight: bold;
  margin-right: 2px;
}
body #footer p a::after {
  content: "|";
  margin-left: 4px;
}
body #footer p a:last-child {
  margin-right: 0;
}
body #footer p a:last-child::after {
  content: "";
  margin: 0;
}
body #footer p.copy {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}/*# sourceMappingURL=main.css.map */